{%extends 'base.html'%}

{%block title%}Cadastro Usuario{%endblock%}

{%block page_title%}Cadastro Usuario{%endblock%}

{%block content%}
<form method="post" name="usuario" id="usuario" class="form-control"  action="{%url 'cadastrarUsuario'%}"  novalidate> 
  {%csrf_token%}
  <div class="row mb-3">
    <label for="inputText" class="col-sm-2 col-form-label">Nome *</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="nome" id="nome" required>
      <div class="invalid-feedback">Nome é obrigatório!</div>
    </div>
  </div>
  <div class="row mb-3">
    <label for="inputEmail" class="col-sm-2 col-form-label">Email *</label>
    <div class="col-sm-10">
      <input type="email" class="form-control" name="email" id="email" required>
      <div class="invalid-feedback">Email é obrigatório!</div>
    </div>
  </div>
  <div class="row mb-3">
    <label for="inputPassword" class="col-sm-2 col-form-label">Função</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="funcao" id="funcao">                       
    </div>
  </div>
  <div class="row mb-3">
    <label for="inputNumber" class="col-sm-2 col-form-label">Cargo</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="cargo" id="cargo">
    </div>
  </div>
  <div class="row mb-3">
      <label for="inputNumber" class="col-sm-2 col-form-label">Senha *</label>
      <div class="col-sm-10">
        <input type="password" class="form-control" name="senha" id="senha" required>
        <div class="invalid-feedback">Senha é obrigatório!</div>
      </div>                     
  </div>
  <input type="hidden" name="ativo" value="1"/>
  <div class="row mb-3"> 
      <label for="inputNumber" class="col-sm-2 col-form-label">Perfil *</label>
      <div class="col-sm-10">
      <select class="form-select" aria-label="Default select example" name="perfilid" id="perfilid" required>
        <option value="" selected>Selecione um Perfil</option>
        {%for perfil in Perfil%}
       
        <option value="{{perfil.perfilid}}">{{perfil.perfil}}</option>
        {%endfor%}
      </select>
      <div class="invalid-feedback">Perfil é obrigatório!</div>
  </div>
    </div>




 




 


  <div class=" d-flex justify-content-end">
  <div class="row mb-3">                     
    <div class="col-sm-10">
      <button type="button" class="btn btn-primary" onclick="validate()">Cadastrar</button>
    </div>
  </div>
</div>
</form>
{%endblock%}
{%block script%}
<script>
    function validate(){
    form = document.getElementById("usuario")   
    enviar = true
   
    

    if(!form.checkValidity()){    
        form.classList.add('was-validated')    
        preventDefault()
        stopPropagation()
        enviar = false
    }

    if(form){
      enviar= true
      form.submit()
    }
  }

  </script>
{%endblock%}