{%extends 'base.html'%}

{%block title%}
Produto
{%endblock%}

{%block page_title%}
Produto
{%endblock%}


{%block content%}
<div class="card">
    <div class="card-body">
        <h5 class="card-title">Produtos<span></span></h5>
    
        <table class="table table-borderless datatable">
          <thead>
                <tr>
                    <th scope="col">Código</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Quantidade</th>
                    <th scope="col">Marca</th>
                
                </tr>
          </thead>
            <tbody>
            
                    <tr>
                        <td>132456</td>
                        <td>Produto</td>
                        <td>200</td>
                        <td>Teste</td>
                    
                    
                        <td>
                            <!-- Botões de ação -->
                            <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#">Editar</button>
                            <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#">Excluir</button>

                        
                        </td>
                    </tr>
                    <tr>
                        <td>132456</td>
                        <td>Produto</td>
                        <td>200</td>
                        <td>Teste</td>
                    
                    
                        <td>
                            <!-- Botões de ação -->
                            <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#">Editar</button>
                            <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#">Excluir</button>

                        
                        </td>
                    </tr>
                    <tr>
                        <td>132456</td>
                        <td>Produto</td>
                        <td>200</td>
                        <td>Teste</td>
                    
                    
                        <td>
                            <!-- Botões de ação -->
                            <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#">Editar</button>
                            <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#">Excluir</button>

                        
                        </td>
                    </tr>

    
            </tbody>
        </table>
    </div>
</div>

{%endblock%}


{%block script%}

{%endblock%}